spring.datasource.url=jdbc:postgresql://localhost:<your-db-port>/redditclone
spring.datasource.username=postgres
spring.datasource.password=root

spring.jpa.hibernate.ddl-auto=update
spring.datasource.initialize=true
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

##### Mail Trap #####
spring.mail.host=smtp.mailtrap.io
spring.mail.port=<your-port>
spring.mail.username=<your-username>
spring.mail.password=<your-password>
spring.mail.protocol=smtp

##### JWT #####
jwt.expiration.time=900000
